# APP_NAME=Laravel
# APP_ENV=production
# APP_KEY=base64:JILnGMPG0A3SA5TboSSywIlgBgXZOL956iZZA9gyjnc=
# APP_DEBUG=false
# APP_URL=https://your-app.onrender.com

# FRONTEND_URL=https://parlement-6pkwbkg92-dev-105s-projects.vercel.app

# LOG_CHANNEL=stack


# DB_CONNECTION=mysql
# DB_HOST=mysql.railway.internal
# DB_PORT=3306
# DB_DATABASE=railway
# DB_USERNAME=root
# DB_PASSWORD=UbBQdGdCnjnWbCfrBSIJpHvbAcYpMVtr

# SESSION_DRIVER=file
# SESSION_LIFETIME=120

# CACHE_STORE=file
# QUEUE_CONNECTION=sync

# MAIL_MAILER=smtp
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USERNAME=stago.free@gmail.com
# MAIL_PASSWORD=jfyasvjrfwhtisro
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS=stago.free@gmail.com
# MAIL_FROM_NAME="Parlement Service"


# hrer
# APP_NAME="Laravel"
# APP_ENV="production"
# APP_KEY="base64:JILnGMPG0A3SA5TboSSywIlgBgXZOL956iZZA9gyjnc="
# APP_DEBUG="false"
# APP_URL="https://impartial-freedom-production-ea60.up.railway.app"
# FRONTEND_URL="https://parlement-delta.vercel.app"
# LOG_CHANNEL="stack"
# DB_CONNECTION="mysql"
# DB_HOST="mysql.railway.internal"
# DB_PORT="3306"
# DB_DATABASE="railway"
# DB_USERNAME="root"
# DB_PASSWORD="iWxbDSjPaNMucujZmwspgLAtRvSeWDRG"
# SESSION_DRIVER="file"
# SESSION_LIFETIME="120"
# CACHE_STORE="file"
# QUEUE_CONNECTION="sync"
# MAIL_MAILER="smtp"
# MAIL_HOST="smtp.gmail.com"
# MAIL_PORT="587"
# MAIL_USERNAME="stago.free@gmail.com"
# MAIL_PASSWORD="jfyasvjrfwhtisro"
# MAIL_ENCRYPTION="tls"
# MAIL_FROM_ADDRESS="stago.free@gmail.com"
# MAIL_FROM_NAME="Parlement Service"





